<!DOCTYPE html>
<html>
<head>
    <title>Kelo_chat</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style2.css')}}"/>
    <style>
        #loadingIndicator {
            display: none;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('form').submit(function(event) {
                $('#loadingIndicator').show();
            });
        });
    </script>
</head>
<body>
    <div class="kelo">
            <h1>KELO</h1>
            <form action="/" method="POST">
                <input type="text" id="name" name="name" placeholder="Enter Your website URL" required><br><br>
                <input type="submit" value="Submit" class="btn btn-primary btn-large"><br><br>
            </form>
            <div id="response">{{response}}</div>
            <div id="loadingIndicator">Indexing...</div>   
    </div>
    
</body>
</html>
